@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #222;
    font-size: 18px;
}

.main-content {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 50px;
    width: 60%;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.button {
    width: 15%;
    margin: 2% auto;
    padding: 1.5%;
    border: none;
    font-size: 0.9rem;
    background-color: #8444df;
    color: white;
    letter-spacing: 1px;
    border-radius: 40px;
}

.headings span:before {
    content: "";
    float: left;
    margin: 1% 2% 0 0%;
    width: 50px;
    height: 1px;
    background: #333;
}

.color-text {
    color: #8444df;
}

img {
    background: url('');
}